# CONFIG_BCMDHD_SDIO=y is not set
CONFIG_BCMDHD_PCIE=y
CONFIG_MALI_CSF_SUPPORT=y
CONFIG_MFD_ADP5585=y
CONFIG_GPIO_ADP5585=y

#ljzadd
# PCIe 热插拔基础支持
CONFIG_HOTPLUG_PCI=y
CONFIG_HOTPLUG_PCI_PCIE=y
CONFIG_PCIEPORTBUS=y
CONFIG_PCIEASPM=y          # 可选，电源管理支持

# Rockchip 特定驱动
CONFIG_PCIE_ROCKCHIP_HOST=y
CONFIG_PCIE_ROCKCHIP_EP=y   # 若需要端点模式
